* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

body {
  background-color: #ffffff;
  padding: 0 0;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

p {
  text-align: center;
}

li {
  font-size: 25px;
}

html {

}

.ficons {
  transform: scale(1.8);
  margin: 40px;
  color: black;
}

.ficons:hover {
  transform: scale(1.8);
  margin: 40px;
  color: #828591;
}

.ficons1 {
  transform: scale(1.8);
  margin: 40px;
  color: white;
}

.ficons1:hover {
  transform: scale(1.8);
  margin: 40px;
  color: #828591;
}

.bio3 li {
  /* font-size: 17px */
  font-size: 1.1vw;
  margin-left: 25%;
  margin-right: 20%;
}

.biodef {
  text-align: left;
}

.projtitle {
  margin: 0;
  padding: 150px 30px;
  height: 100%;
  width: 100%;
  display: table;
  line-height: 50vh;
}

.projdes {
  padding: 40px 80px;
  /* outline: 2px dashed #bbbbbb; */
}

.textColor {
  color: #fff;
}

.homeStyle {
  margin: 10px;
  /* font-size: 100px; */
  color: #fff !important;
}

.notHomeStyle {
  margin: 10px;
  /* font-size: 100px; */
  color: #000 !important;
}

.homeStyle:hover {
  margin: 10px;
  /* font-size: 100px; */
  color: #828591 !important;
}

.notHomeStyle:hover {
  margin: 10px;
  /* font-size: 100px; */
  color: #828591 !important;
}

.homeBackground {
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.notHomeBackground {
  background-color: #fff;
}

.navigation {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.divtest {
  padding: 100px 100px;
}

.bio1 {
  /* line-height: 50vh; */
  /* outline: 2px dashed #bbbbbb; */
}

.bio2 {
   line-height: 90vh;
   font-size: 1.1vw;
  /* outline: 2px dashed #bbbbbb; */
  opacity: 0;
}

.bio3 {
  padding: 0 10px 80px 10px;
  font-size: 1.1vw;
  /* line-height: 100vh; */
  /* outline: 2px dashed #bbbbbb; */
}

.bio4 {
  padding: 40px;
}

.navbar-inner {
  background:transparent;
  height: 100%;
}

.anotherphoto {
  background-image: url("images/cover1.jpg");
  background-repeat: no-repeat;
}

.socials {
  margin: auto 5px;
}

.home {
  background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
  background-color: #cccccc;
  height: 100%;
}

.main {
  /* width: 100%; */
  padding: 0 100px;  /* height: 100vh; */
}

.format1 {
  line-height: 80vh;
  font-size: 50px;
}

.format3 {
  background-color: #714463;
  line-height: 50vh;
  font-size: 35px;
}

.format2 {
  background-color: #121A31;
  line-height: 50vh;
  font-size: 35px;
}

.format4 {
  background-image: url("images/bio.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  line-height: 50vh;
  font-size: 35px;
}

.format5 {
  padding-top: 30px;
  padding-bottom: 15px;
  color: #828591;
}

.linkEducation {
  color: #fff;
}

.linkEducation:hover {
  color: #828591;
}

.linkProjects {
  color: #fff;
}

.linkProjects:hover {
  color: #828591;
}

.linkBio {
  color: #fff;
}

.linkBio:hover {
  color: #828591;
}
